{% extends 'base/base.html' %}

{% block hero %}
{% endblock hero %}

{% block navbar %}
{% endblock navbar %}

{% block header %}
{% endblock header %}

{% block content %}

{% if validlink %}
<br>
  <div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Formulario de restablecimiento de contraseña</h1>
    <h6 style="width: 60%; margin: 0 auto">
        Ingrese su nueva contraseña para que podamos verificar.
    </h6>
  </div>
<br/>

<form action="" method="POST">
  {% csrf_token %} 
  {{form}}
  <input type="submit" value="Restablecer la contraseña"/>
</form>

{% else %}

<h1 class="text-center">ENLACE INVÁLIDO: ESTE ENLACE YA HA SIDO UTILIZADO</h1>

{% endif %}

{% endblock content %}

{% block footer %}
{% endblock footer %}