{% extends 'base/base.html' %}

{% block hero %}
{% endblock hero %}

{% block navbar %}
{% endblock navbar %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Se envió el restablecimiento de contraseña</h1> 
    <h5>Le enviamos instrucciones por correo electrónico para configurar su contraseña, si existe una cuenta con el correo electrónico que ingresó. Debería recibirlos en breve.</h5><br>
    <h6 style="width: 60%; margin: 0 auto">Si no recibe un correo electrónico, asegúrese de haber ingresado la dirección con la que se registró y verifique su carpeta de correo no deseado.</h6>
</div>
<div class="text-center">
   <a href="{% url 'login' %}">Regresar</a>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}