{% extends 'base/base.html' %}

{% block hero %}
{% endblock hero %}

{% block navbar %}
{% endblock navbar %}

{% block header %}
{% endblock header %}

{% block content %}
<div class="text-center" style="width: 80%; margin: 0 auto">
    <h1>Restablecimiento de contraseña completa</h1>
    <h6 style="width: 60%; margin: 0 auto">
        Su contraseña ha sido establecida. Puede continuar e iniciar sesión
    </h6>
</div>
<br />
<div class="text-center">
    <a href="{% url 'login' %}">Login</a>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}