{% extends 'base/base.html' %}

{% block hero %}
{% endblock hero %}

{% block navbar %}
{% endblock navbar %}

{% block header %}
{% endblock header %}

{% block content %}
<br>
    <div class="text-center" style="width: 80%; margin: 0 auto">
        <h1>Bienvenido a la pagina de recuperacion de contraseña</h1>
        <h3>
            ¿Olvidaste tu contraseña? Ingrese la dirección de correo electrónico que utilizó para registrarse
             con nosotros y le enviaremos un enlace para restablecer su contraseña
        </h3>
    </div>
<br/>

<form action="" method="POST" class="text-center">
    {% csrf_token %}
    {{form}}
    <input type="submit" value="Enviar correo" /><br>
</form><br/>

<div class="text-center">
    <a href="{% url 'login' %}">Regresar</a>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}